@import "styles/utils";

.ctaCard {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 228px;

  @include media(">tablet") {
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 100px;
  }

  .avatar {
    position: absolute;
    top: -228px;
    left: 50%;
    width: 281px;
    object-fit: cover;
    transform: translateX(-50%);

    @include media(">tablet") {
      top: -151px;
      left: 0;
      transform: initial;
    }
  }

  .body {
    position: relative;
    background: var(--secondary-color);
    text-align: center;
    padding: 32px 31px;

    @include media(">tablet") {
      max-width: 514px;
      text-align: left;
      padding: 48px 56px 56px;
    }

    .title {
      font-family: var(--fraunces-font);
      font-weight: 600;
      font-size: 32px;
      line-height: 48px;
      color: var(--white-color);
      margin-bottom: 16px;

      @include media(">tablet") {
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 24px;
      }
    }

    .description {
      font-size: 16px;
      line-height: 28px;
      color: var(--white-color);
    }
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 24px;

    @include media(">tablet") {
      align-items: flex-start;
    }
  }
}
