
.ctaCard {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 228px;

  .avatar {
    position: absolute;
    top: -228px;
    left: 50%;
    width: 281px;
    object-fit: cover;
    transform: translateX(-50%);
  }

  .body {
    position: relative;
    background: var(--secondary-color);
    text-align: center;
    padding: 32px 31px;

    .title {
      font-family: var(--fraunces-font);
      font-weight: 600;
      font-size: 32px;
      line-height: 48px;
      color: var(--white-color);
      margin-bottom: 16px;
    }

    .description {
      font-size: 16px;
      line-height: 28px;
      color: var(--white-color);
    }
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
  }
}
