@import "styles/utils";

.featureCard {
  .title {
    font-family: var(--fraunces-font);
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: var(--secondary-color);
    margin-bottom: 16px;

    @include media(">desktop") {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 28px;
    }
  }

  .description {
    font-size: 16px;
    line-height: 28px;
    color: var(--davy-grey-color);

    @include media(">desktop") {
      font-size: 18px;
      line-height: 32px;
    }
  }
}
